html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem black;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.welcome-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #111;
}

.welcome-subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
}

.navbar .nav-link {
    color: #555 !important; 
    font-weight: 400;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

    .navbar .nav-link:hover {
        color: #000 !important; 
        font-weight: 600; 
    }




.navbar .navbar-brand {
    color: #212529 !important; 
    font-weight: 600; 
    opacity: 1 !important; 
}




    .navbar .navbar-brand:hover {
        opacity: 1;
        color: #000 !important;
    }


.product-card {
    height: 100%;
}

    .product-card .card-body {
        display: flex;
        flex-direction: column;
    }


.product-img {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem;
}

    .product-img img {
        max-height: 100%;
        width: auto;
        object-fit: contain;
    }


.product-title {
    line-height: 1.2;
    min-height: 2.4em;
    text-align: center;
    margin-bottom: .25rem;
    font-weight: 600;
}


.product-price {
    min-height: 1.6em;
    text-align: center;
    color: #666;
    margin-bottom: .75rem;
}


.product-card .btn-area {
    margin-top: auto;
    text-align: center;
}

.product-price {
    color: #000;
    font-weight: 400;
    font-size: 1rem;
}


.navbar .form-control {
    border: 1px solid #000;
    box-shadow: none;
}


    .navbar .form-control:focus {
        border: 1px solid #000;
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
    }


.navbar {
    border-bottom: 1px solid #000 !important;
    box-shadow: none !important;
}

.card {
    border: 1px solid #000 !important;
}



footer.footer-has-top {
    border-top: 1px solid #000 !important;
}


footer .footer-bottom {
    border-top: 1px solid #000 !important;
}

.login-page footer {
    margin-top: 100px;
}


html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; 
}

.footer {
    background: #222; 
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.alert.alert-favori {
    background-color: #8B0000 !important;
    color: #fff !important;
    border-color: #600000 !important;
}


.form-check-input:checked {
    background-color: #000 !important;
    border-color: #000 !important; 
}

footer a {
    color: #6c757d; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

    footer a:hover {
        color: #000 !important;
        font-weight: 500;
    }

footer strong {
    color: #212529 !important;
    font-weight: 600;
}


.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #000;
}

    .form-check-input:checked {
        background-color: #000; 
        border-color: #000;
    }

        .form-check-input:checked[type=checkbox] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
            
        }

