@model IEnumerable<BisikletSatis.Entities.Rol>

@{
    ViewData["Title"] = "Roller";
}

<h1>Roller</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn" style="background-color:#B22222; border-color:#8B0000; color:#fff;"
                       asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
