@model BisikletSatis.Entities.Tamirhane

@{
    ViewData["Title"] = "Tamirhane Kaydı Ekle";
}

<h1>Tamirhane Kaydı Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiseGelisTarihi" class="control-label"></label>
                <input asp-for="ServiseGelisTarihi" class="form-control" />
                <span asp-validation-for="ServiseGelisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BisikletSorunu" class="control-label"></label>
                <input asp-for="BisikletSorunu" class="form-control" />
                <span asp-validation-for="BisikletSorunu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServisUcreti" class="control-label"></label>
                <input asp-for="ServisUcreti" class="form-control" />
                <span asp-validation-for="ServisUcreti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServistenCikisTarihi" class="control-label"></label>
                <input asp-for="ServistenCikisTarihi" class="form-control" />
                <span asp-validation-for="ServistenCikisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YapilanIslemler" class="control-label"></label>
                <input asp-for="YapilanIslemler" class="form-control" />
                <span asp-validation-for="YapilanIslemler" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GarantiKapsamindaMi" /> @Html.DisplayNameFor(model => model.GarantiKapsamindaMi)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BisikletNo" class="control-label"></label>
                <input asp-for="BisikletNo" class="form-control" />
                <span asp-validation-for="BisikletNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BisikletTipi" class="control-label"></label>
                <input asp-for="BisikletTipi" class="form-control" />
                <span asp-validation-for="BisikletTipi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notlar" class="control-label"></label>
                <input asp-for="Notlar" class="form-control" />
                <span asp-validation-for="Notlar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
