@model BisikletSatis.Entities.Tamirhane

@{
    ViewData["Title"] = "Tamirhane Kaydı Düzenle";
}

<h1>Tamirhane Kaydı Düzenle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ServiseGelisTarihi" class="control-label"></label>
                <input asp-for="ServiseGelisTarihi" class="form-control" />
                <span asp-validation-for="ServiseGelisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BisikletSorunu" class="control-label"></label>
                <input asp-for="BisikletSorunu" class="form-control" />
                <span asp-validation-for="BisikletSorunu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServisUcreti" class="control-label"></label>
                <input asp-for="ServisUcreti" class="form-control" />
                <span asp-validation-for="ServisUcreti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServistenCikisTarihi" class="control-label"></label>
                <input asp-for="ServistenCikisTarihi" class="form-control" />
                <span asp-validation-for="ServistenCikisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YapilanIslemler" class="control-label"></label>
                <input asp-for="YapilanIslemler" class="form-control" />
                <span asp-validation-for="YapilanIslemler" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GarantiKapsamindaMi" /> @Html.DisplayNameFor(model => model.GarantiKapsamindaMi)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BisikletNo" class="control-label"></label>
                <input asp-for="BisikletNo" class="form-control" />
                <span asp-validation-for="BisikletNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BisikletTipi" class="control-label"></label>
                <input asp-for="BisikletTipi" class="form-control" />
                <span asp-validation-for="BisikletTipi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notlar" class="control-label"></label>
                <input asp-for="Notlar" class="form-control" />
                <span asp-validation-for="Notlar" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Kaydet" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <style>
        
        .form-check-input {
            width: 1.2rem;
            height: 1.2rem;
            cursor: pointer;
            background-color: #fff;
            border: 2px solid #000;
        }

            .form-check-input:checked {
                background-color: #000;
                border-color: #000;
            }

                .form-check-input:checked[type=checkbox] {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
                }
    </style>
}
